* {
  margin: 0;
  padding: 0;
	// border: none;
}

// *,
// *::before,
// *::after {
// 	box-sizing: border-box;
// }

a {
  text-decoration: none;
}

body{
  color: rgb(253, 253, 253);
}
@font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/FarAwayGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}