* {
  margin: 0;
  padding: 0;
	// border: none;
}

// *,
// *::before,
// *::after {
// 	box-sizing: border-box;
// }

a {
  text-decoration: none;
}

body{
  color: rgb(0, 0, 0);
}
@font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/FarAwayGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.cards {
  margin: 0 auto;
  /* padding-top: 30px; */
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 327px);
  max-width: 1400px; 
  width: 100%;
  justify-content: center;
  justify-items: center;
  column-gap: 16px; 
  row-gap: 20px; 
  overflow: hidden;
}
.anchor{
  position: relative;
  transform: translateY(-100px);
}
.flex{
  display: flex;
  flex-wrap: wrap;
}